__pycache__/
*.pyc
*.pyo

*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

*.egg-info/
dist/
build/

.venv/
venv/

.pytest_cache/
.coverage
htmlcov/

.env
.DS_Store
.vscode/
*.code-workspace
coverage.json
